*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}
.main{
    height: 100vh;
    width: 100%;
    background-color:black;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
}
.message-box{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    
}
.images{
    overflow: hidden;
    padding-left: 100px;
}
.img-1{
    width: 300px;
    height: 300px;
    border-radius:8px ;
    animation:spin 20s infinite linear;
}
.img-3{
    width: 150px;
    height: 150px;
    margin-left: 30px;
    border-radius:8px ;
    animation:spin 10s infinite linear;
}
.img-2{
    width: 100px;
    height: 100px;
    border-radius:8px ;
    animation:spin 3s infinite linear;
}
.img-4{
    margin-left: 100px;
    width: 350px;
    height: 350px;
    border-radius:8px ;
    animation:spin 15s infinite linear;
}
.message-box h1{
    font-size: 122px;
}
.message-box p{
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.homebtn
{
    border: 1px white solid;
    padding: 5px 10px;
    font-size: large;
    text-decoration: none;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
    
}